@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Inter:wght@400;500;700&display=swap');

:root {
    --accent-primary: #395FAA;
    --accent-secondary: #FFCB05;
    --accent-primary-hover: #182849;
    --bg: #fff;
    --character-name: var(--accent-primary-hover);
    --character-border: #ffc936;
    --character-number: #fff;
    --character-number-bg: var(--accent-primary-hover);
    --character-bg: #ffcd053b;
    --drop-shadow: #C19F00;
    --footer-bg: var(--accent-primary);
    --scrollbar-bg: rgb(0 0 0 / 0);
    --scrollbar-thumb: var(--accent-primary);
    --scrollbar-thumb-hover: var(--accent-primary-hover);
    --searchbar-box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    --bs-btn-color: #fff;
    --bs-btn-bg: #395FAA;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #182849;
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #182849;
    --bs-btn-active-border-color: none;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #395FAA;
    --bs-btn-disabled-border-color: none;
}

:root[theme='dark'] {
    --accent-primary: #2e3441;
    --accent-primary-hover: #638ad6;
    --bg: #202124;
    --character-name: #ffdd7e;
    --character-border: #2e3441;
    --character-number: #fff;
    --character-number-bg: #395FAA;
    --character-bg: #424857;
    --drop-shadow: #1e222b;
    --footer-bg: #2e3441;
    --scrollbar-thumb: #395FAA;
    --scrollbar-thumb-hover: #638ad6;
    --searchbar-box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
    --bs-border-color: var(--character-bg);
}

/********** base styling **********/
* {
    box-sizing: border-box;
    margin: 0;
}

:root[theme='dark'] body {
    background: var(--bg);
}

.App {
    font-family: 'Inter', sans-serif;
    font-size: .8rem;
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    background-color: var(--bg);
}

header, footer, main {
    text-align: center;
    padding-block: 2em;
    max-width: 1024px;
    width: 90%;
}

header {
    position: relative;
}

header img {
    max-width: 100%;
}

header, main {  
    margin: 0 auto
}

main {
    margin-bottom: 3em;
}

main:has(.load-more) {
    margin-bottom: 1.5em;
}

footer {
    background-color: var(--footer-bg);
    color: white;
    border-radius: 0.375rem 0.375rem 0 0;
    margin: auto auto 0;
}

/********** scrollbar styling **********/
::-webkit-scrollbar {
    background-color: var(--scrollbar-bg);
    width: 1rem;
    height: 1rem;
}

::-webkit-scrollbar-track {
    border-radius: 100vw;
    margin-block: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}

@supports (scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg)) {
    * {
        scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
        scrollbar-width: auto;
    }
}

/********** accordion styling **********/
:root[theme='dark'] :is(.accordion-button) {
    background-color: var(--character-border);
    color: #fff;
}

:root[theme='dark'] :is(#search-input, .modal-content, .accordion-body) {
    background-color: var(--character-bg);
    color: #fff;
}

.accordion {
    --bs-accordion-bg: none;
}

.accordion-item {
    overflow: hidden;
}

:root[theme='dark'] :is(.bi-chevron-double-up, .bi-search, .bi-sliders) {
    filter: drop-shadow(0 0 0.1rem var(--drop-shadow));
}

:root[theme='dark'] .btn {
    text-shadow: 0 0 0.2rem var(--drop-shadow);
}

:root[theme='dark'] .accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/********** buttons styling **********/
.btn {
    background-color: var(--accent-primary);
    padding: .75rem 1.5rem;
    color: #fff;
    border: none;
}

.btn.btn-primary:is(:focus, :hover, :active, :visited) {
    background-color: var(--accent-primary-hover);
    color: #fff;
}

.theme-toggler {
    position: absolute;
    top: 2em;
    right: 0;
    padding: .25rem .5rem;
    background: none;
    transition: all .15s ease-in-out 0s;
}

:root[theme='light'] .btn.theme-toggler > svg {
    filter: drop-shadow(0 0 .1rem var(--drop-shadow));
}

:root[theme='dark'] .theme-toggler {
    padding: calc(.25rem + 6px) calc(.5rem + 6px);
}

.btn.btn-primary.theme-toggler:is(:focus, :hover, :active, :visited) {
    background: none;
}

/********** searchbar and controls styling **********/
.main-controls-header {
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
}

#search-icon {
    background-color: var(--accent-primary);
    border-color: var(--accent-primary);
    padding: .5em 1.5em;
}

:is(#search-icon, .favourites, .settings)[activity='active'] svg{
    fill: var(--accent-secondary);
}

.bi-search {
    color: #fff;
}

.accordion-button {
    padding: .75rem 1.5rem;
}

:root[theme='dark'] #search-input {
    border: 1px solid var(--bs-border-color);
}

:root[theme='dark'] #search-input::placeholder {
    color: #babbbd;
}

.searchbar:has(#search-input:focus) {
    box-shadow: var(--searchbar-box-shadow);
    border-radius: .375rem;
}

.searchbar {
    height: 3rem;
}

#search-icon:has(+ #search-input:focus) {
    background-color: var(--accent-primary-hover);
    border-color: var(--accent-primary-hover);
}

#search-input:focus {
    box-shadow: none;
}

.accordion-body, .pokemon {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    justify-items: start;
    align-items: center;
    column-gap: 2em;
}

.filter-options, .sort-options {
    justify-items: start;
    align-items: center;
    row-gap: .5em;
    margin-block: 1em;
    overflow: hidden;
    opacity: 0;
}

.show {
    opacity: 1;
}

.filter-label, .sort-label {
    padding-left: 6px;
}

.option * {
    cursor: pointer;
}

/********** pokemon cards styling **********/
.pokemon {
    justify-items: center;
    align-items: stretch;
    row-gap: 2em;
}

.character {
    position: relative;
    border: .5em solid var(--character-border);
    border-width: 2em 6px 6px;
    border-radius: 3px;
    background-color: var(--character-bg);
    width: 100%;
    row-gap: 2em;
    cursor: pointer;
}

.character-name {
    color: var(--character-name);
    text-align: end;
    text-overflow: ellipsis;
    word-wrap: break-word;
    font-size: 1.2em;
    position:absolute;
    right: 0;
    top: -1.5em;
    z-index: 2;
}

.bi-star-fill-yellow, .bi-star {
    height: 1.625rem;
    width: 1.625rem;
    color: var(--accent-secondary);
    position: absolute;
    top: .2rem;
    right: .3rem;
    z-index: 3;
}

.character-img {
  position:relative;
  width: 100%;
  aspect-ratio: 3 / 4;
  display: block;
  object-fit: contain;
  object-position: center;
  padding: 1em;
  z-index: 0;
}

.character-number {
    font-family: 'Comfortaa', cursive;
    font-size: 1.625em;
    color: var(--character-number);
    position: absolute;
    bottom: -.5em;
    margin: 0;
    left: 0;
    z-index: 3;
    background-color: var(--character-number-bg);
    border-radius: 3px;
    padding: 0 .5em 0 .5em;
}

.type-group, section.pokemon {
    margin-top: 3em;
}

.type-group-title {
    color: #182849;
    margin-bottom: .5em;
}

.no-results, .loading {
    margin-top: 3em;
    color: var(--accent-primary-hover);
}

:root[theme='dark'] :is(.no-results, .loading, .type-group-title) {
    color: var(--accent-secondary);
}

.no-results {
    margin-bottom: 1em;
}

.load-more {
    margin-top: 2em;
}

/********** transitions **********/
.btn,
.theme-toggler,
.App,
.character,
.character-number,
.accordion-button,
#search-input, .modal-content, .accordion-body {
    transition: background-color .15s ease-in-out 0s;
}

.bi-star-fill-yellow, .bi-star {
    transition: opacity .15s ease-in-out 0s;
}

.character {
    transition: border .15s ease-in-out 0s;
}

.character-name {
	transition: color .15s ease-in-out 0s;
}

/********** modal styling **********/
:root[theme='dark'] button.btn-close {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
}

:root[theme='dark'] .modal-title {
    color: var(--accent-secondary);
}

.modal-dialog {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}

.modal-body {
    overflow: scroll;
    overflow-x: hidden;
    max-height: calc(100vh - 2em - 100px - 3.5rem);
    max-width: 1024px;
    text-align: left;
}

/********** media query for sm screens **********/
@media (max-width: 450px) {
    header img {
        margin-top: calc(36px + .5rem);
    }

    .main-controls-header {
        flex-wrap: wrap;
    }
}